.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343a40;
    padding: 10px 20px;
    color: #fff;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}

.buttons {
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.nav-button:hover {
    background-color: #0056b3;
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

.dark-mode .nav-button {
    background-color: #555;
    color: #fff;
}